*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background: linear-gradient(to top, rgba(221, 214, 214, 0.986),rgba(65, 64, 64, 0.699) );
}
#historico-div {
    background-color: #f8f9fa; /* Cor de fundo */
    border: 1px solid #ced4da; /* Borda */
    border-radius: 8px; /* Bordas arredondadas */
    padding: 20px; /* Espaçamento interno */
    width: 80%; /* Largura */
    max-width: 600px; /* Largura máxima */
    margin: 0 auto; /* Centraliza a div na tela */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Sombra */
    overflow: auto; /* Barra de rolagem se o conteúdo for muito grande */
    position: fixed; /* Fixa a div no meio da tela */
    top: 50%; /* Posiciona no meio verticalmente */
    left: 50%; /* Posiciona no meio horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta a posição para que a div esteja centralizada */
    z-index: 9999; /* Garante que a div esteja acima de outros elementos */
    overflow: auto; /* Adiciona uma barra de rolagem se o conteúdo for muito grande */
    max-height: 500px; /* Define uma altura máxima para a div */
}
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 15px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#historico{
    margin-left: 40px;
    width: 80%;
    cursor: pointer;
    margin-top: 6px;
    justify-content: center;
    font-size: 13pt;
}
#historico:hover{
    background-color: #888;
}
#historico-div div {
    margin-bottom: 15px; /* Espaçamento entre os resultados */
    border-bottom: solid 1px black;
    color: #6512eb;
}

#historico-div h2{
    text-align: center;
    margin-bottom: 6px;
    border: solid 1px black;
    border-radius: 5px;
}
.container{
    display: flex;
}
.lado_esquerdo{
width: 100%;
height: calc(100vh - 2px);
border: solid 1px;
display: flex;
flex-direction: column;

}

.search-container{
    width: 400px;
    height: 85px;
    background-color: rgba(114, 114, 114, 0.767);
    margin-left: 3%;
    margin-top: 2%;
    border: solid rgba(0, 0, 0, 0.425) 1px;
}
h1{
    text-align: center;
    
    
    
}

#search{
    margin-left:3%;
    margin-top: 3%;
    width: 60%;
    font-size: 13pt;
    padding: 4px;
}
#pesquisar{
    width: 25%;
    font-size: 13pt;
    padding: 4px;
    margin-left: 3%;
    cursor: pointer;
}

#pesquisar:hover{
    background-color: rgb(175, 175, 175);
}

#results {
    max-height: 200px; /* Ajuste este valor conforme necessário */
    overflow-y: auto;
    margin-left: 15px;
    margin-top: 15px;
    width: 400px;
    background-color:#ffffff9f ;
}

#results div{
    font-size: 14pt;
    font-weight: 500;
    border: solid 1px;
    cursor: pointer;
    padding-left: 4px;
}

#results div:hover{
background-color:#9c9c9c ;
}

.lado_direito{
    width: 100%;
    height: calc(100vh - 2px);
    border: solid 1px;
    border-left: 0px;
}

#results-dados {
    /* Adiciona algum espaço ao redor dos resultados */
    padding: 10px;
    /* Define a largura máxima dos resultados para evitar que eles ocupem muito espaço */
    max-width: 400px;
    /* Centraliza os resultados */
    margin: 0 auto;
}

#results-dados div {
    /* Adiciona algum espaço entre cada resultado */
    margin-bottom: 10px;
    /* Adiciona algum preenchimento dentro de cada resultado */
    padding: 10px;
    /* Adiciona uma borda ao redor de cada resultado */
    
    /* Arredonda os cantos da borda */
    border-radius: 5px;
}
#results-dados p{
    border: solid 1px;
    padding: 3px;
    background-color: #ccc;
    font-size: 16pt;
    font-weight:bold;
    
}
#results-dados h2{
    text-align: center;
    margin-bottom: 6px;
    font-size: 20pt;
    margin-top: 6px;
    background-color: rgb(214, 214, 236);

}
#results-dados input{
width: 55%;
font-size: 16pt;
margin-top: 3px;

}

#results-dados button{
 width: 110px;
 font-size: 16pt;
 margin-left: 6px;
 margin-top: 3px;
 background-color: rgb(8, 163, 20);
 cursor: pointer;
}
#results-dados .ButomDeletDadosCliente{
    background-color: #0056d8;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 30px;
    margin-bottom: 30px;
}
#results-dados .ButomDeletDadosCliente:hover{
    background-color: #4c00d8;
}
#results-dados button:hover{
    background-color: rgb(7, 221, 25);
}

a{
position: absolute;
 margin-bottom:10px;
 margin-left: 30px;
 width: 60px;
 top: 520px;
}
a:hover{
    margin-left:25px ;
}

img{
    width: 55px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
  }
  
  .close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-button:hover,
  .close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  


  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
